<!-- top Area start -->
<section class="top-list pt-50 pb-26">
    <div class="container">
        <div class="heading text-end right">
            <p id="colores">Find Your Ideal Ride, Discover the Perfect <br> Car to Suit Your Style and Adventure</p>
            <h2>Pick Your Luxury Drive</h2>
        </div>
        <div class="card-slider">
            <div class="item-list">
                <img src="./assets/media/car-image/car-image-6.webp" alt="">
                <div class="detail-block">
                    <div class="detail">
                        <h5>GMC 2500 Sierra</h5>
                        <p><b>$29,500</b> / Day</p>
                    </div>
                    <div class="detail">
                        <p>Seating Capacity</p>
                        <p>7 Person</p>
                    </div>
                    <div class="detail">
                        <p>Transmission</p>
                        <p>Automatic</p>
                    </div>
                    <div class="detail">
                        <p>Model</p>
                        <p>2019</p>
                    </div>
                    <div class="detail">
                        <p>Miles</p>
                        <p>75 K</p>
                    </div>
                    <div class="detail">
                        <p>Rating</p>
                        <p><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></p>
                    </div>
                    <a href="./booking6.html" class="dark-btn w-100" target="_blank">View Details</a>
                </div>
            </div>
            <div class="item-list">
                <img src="./assets/media/car-image/car-image-5.webp" alt="">
                <div class="detail-block">
                    <div class="detail">
                        <h5> RAM 3500 Heavy Duty HEMI</h5>
                        <p>$24,500</p>
                    </div>
                    <div class="detail">
                        <p>Seating Capacity</p>
                        <p>5 Person</p>
                    </div>
                    <div class="detail">
                        <p>Transmission</p>
                        <p>Automatic</p>
                    </div>
                    <div class="detail">
                        <p>Model</p>
                        <p>2016</p>
                    </div>
                    <div class="detail">
                        <p>Miles</p>
                        <p>78 K</p>
                    </div>
                    <div class="detail">
                        <p>Rating</p>
                        <p><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></p>
                    </div>
                    <a href="./booking5.html" class="dark-btn w-100" target="_blank">View Details</a>
                </div>
            </div>
            <div class="item-list">
                <img src="./assets/media/car-image/car-image-4.webp" alt="">
                <div class="detail-block">
                    <div class="detail">
                        <h5>AGT-QH12 Miniexcavador</h5>
                        <p>$150,000</p>
                    </div>
                    <div class="detail">
                        <p>Seating Capacity</p>
                        <p>1 Person</p>
                    </div>
                    <div class="detail">
                        <p>Transmission</p>
                        <p>Hidrostática</p>
                    </div>
                    <div class="detail">
                        <p>Model</p>
                        <p>2023</p>
                    </div>
                    <div class="detail">
                        <p>Availability</p>
                        <p>Yes</p>
                    </div>
                    <div class="detail">
                        <p>Rating</p>
                        <p><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></p>
                    </div>
                    <a href="./booking4.html" class="dark-btn w-100" target="_blank">View Details</a>
                </div>
            </div>
            <div class="item-list">
                <img src="./assets/media/car-image/car-image-3.webp" alt="">
                <div class="detail-block">
                    <div class="detail">
                        <h5>Chevrolet Silverado 2500 HD</h5>
                        <p>$9,500</p>
                    </div>
                    <div class="detail">
                        <p>Seating Capacity</p>
                        <p>5 Person</p>
                    </div>
                    <div class="detail">
                        <p>Transmission</p>
                        <p>Automatic</p>
                    </div>
                    <div class="detail">
                        <p>Model</p>
                        <p>2015</p>
                    </div>
                    <div class="detail">
                        <p>Miles</p>
                        <p>83 K</p>
                    </div>
                    <div class="detail">
                        <p>Rating</p>
                        <p><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></p>
                    </div>
                    <a href="./booking3.html" class="dark-btn w-100" target="_blank">View Details</a>
                </div>
            </div>
            <div class="item-list">
                <img src="./assets/media/car-image/car-image-2.webp" alt="">
                <div class="detail-block">
                    <div class="detail">
                        <h5>Ford Explorer 4x4</h5>
                        <p>$10,500</p>
                    </div>
                    <div class="detail">
                        <p>Seating Capacity</p>
                        <p>7 Person</p>
                    </div>
                    <div class="detail">
                        <p>Transmission</p>
                        <p>Automatic</p>
                    </div>
                    <div class="detail">
                        <p>Model</p>
                        <p>2015</p>
                    </div>
                    <div class="detail">
                        <p>Miles</p>
                        <p>82 K</p>
                    </div>
                    <div class="detail">
                        <p>Rating</p>
                        <p><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></p>
                    </div>
                    <a href="./booking2.html" class="dark-btn w-100" target="_blank">View Details</a>
                </div>
            </div>
            <div class="item-list">
                <img src="./assets/media/car-image/car-image-1.webp" alt="">
                <div class="detail-block">
                    <div class="detail">
                        <h5>GMC 2020 - Canyon</h5>
                        <p>$18,500</p>
                    </div>
                    <div class="detail">
                        <p>Seating Capacity</p>
                        <p>5 Person</p>
                    </div>
                    <div class="detail">
                        <p>Transmission</p>
                        <p>Automatic</p>
                    </div>
                    <div class="detail">
                        <p>Model</p>
                        <p>2020</p>
                    </div>
                    <div class="detail">
                        <p>Miles</p>
                        <p>64 K</p>
                    </div>
                    <div class="detail">
                        <p>Rating</p>
                        <p><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></p>
                    </div>
                    <a href="./booking.html" class="dark-btn w-100" target="_blank">View Details</a>
                </div>
            </div>
        </div>
    </div>
</section>

{% load static %}

<section class="s-gallery" id="s-gallery">
    <div class="container">
        <h2 class="center-title wow fadeIn" data-wow-delay="0.1s">Photo gallery</h2>

        <div class="gallery-wrap">
            {% for product in products %}
            <a href="{{ product.image.url }}" class="gallery-item wow fadeIn" data-effect="mfp-zoom-in" data-wow-delay="0.2s">
                <span class="gallery-border"></span>
                <img src="{{ product.image.url }}" alt="{{ product.title }}">
            </a>
            {% endfor %}
        </div>
  
        <div class="gallery-btn">
            <a href="#" class="def-btn wow fadeInUp text-decoration-none " data-wow-delay="0.2s">Show more</a>
        </div>
        
    </div>
</section>