<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1,
            shrink-to-fit=no">
    <meta name="description"
        content="Discover the best car dealership for buying and selling quality vehicles. We offer top-notch service and a wide selection of cars to choose from.">

    <title>Best Vehicle Dealership - Buy and Sell Cars</title>

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'dealer/favicon.png' %}">

    <!-- All CSS files -->

    <link rel="stylesheet" href="{% static 'css/app.css' %}" />
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            text-align: center;
            padding: 50px;
        }
        h1 {
            font-size: 50px;
        }
        p {
            font-size: 20px;
        }
        a {
            text-decoration: none;
            color: #007BFF;
        }
    </style>
</head>
<body>
    <h1>404</h1>
    <p>Page Not Found</p>
    <p><a href="{% url 'index' %}">Return to Home Page</a></p>
</body>
</html>
